xml documenten/ibanserviceexceptionmessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://schematics.merenita.com/gsos/ibanservice/exceptionmessage/"
	targetNamespace="http://schematics.merenita.com/gsos/ibanservice/exceptionmessage/" elementFormDefault="qualified">
	<!-- Kandidaat root element -->
	<xsd:element name="ExceptionMessage">
		<!-- anoniem type -->
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="code" type="xsd:integer" />
				<xsd:element name="message" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
